{
  "swagger": "2.0",
  "info": {
    "version": "2.0.0",
    "title": "Eye-Eye-Tee API",
    "description": "Complete API documentation for Eye-Eye-Tee, an ecommerce platform for designers",
    "contact": {
      "name": "API Support",
      "email": "support@eye-eye-tee.com"
    }
  },
  "host": "api.eye-eye-tee.com",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "tags": [
    {
      "name": "User",
      "description": "User management and authentication"
    },
    {
      "name": "Designer",
      "description": "Designer-related operations"
    },
    {
      "name": "Design",
      "description": "Design management"
    },
    {
      "name": "Product",
      "description": "Product management"
    },
    {
      "name": "Final Product",
      "description": "Final product operations"
    }
  ],
  "paths": {
    "/user/create": {
      "post": {
        "summary": "Create a new user",
        "tags": ["User"],
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewUser"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "User created successfully",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "summary": "User login",
        "tags": ["User"],
        "parameters": [
          {
            "in": "body",
            "name": "credentials",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginCredentials"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login successful",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        }
      }
    },
    "/user/profile": {
      "post": {
        "summary": "Update user profile",
        "tags": ["User"],
        "parameters": [
          {
            "in": "body",
            "name": "profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      }
    },
    "/user/addToCart": {
      "post": {
        "summary": "Add item to cart",
        "tags": ["User"],
        "parameters": [
          {
            "in": "body",
            "name": "cartItem",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddToCart"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item added to cart successfully"
          }
        }
      }
    },
    "/user/getCart/{userId}": {
      "get": {
        "summary": "Get user's cart",
        "tags": ["User"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Cart retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartItem"
              }
            }
          }
        }
      }
    },
    "/designer/request": {
      "post": {
        "summary": "Request to become a designer",
        "tags": ["Designer"],
        "parameters": [
          {
            "in": "body",
            "name": "designerRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DesignerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Designer request submitted successfully"
          }
        }
      }
    },
    "/designer/viewProfile/{designerId}": {
      "get": {
        "summary": "View designer's public profile",
        "tags": ["Designer"],
        "parameters": [
          {
            "in": "path",
            "name": "designerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Designer profile retrieved successfully",
            "schema": {
              "$ref": "#/definitions/DesignerPublicProfile"
            }
          }
        }
      }
    },
    "/designer/updateProfile": {
      "post": {
        "summary": "Update designer profile",
        "tags": ["Designer"],
        "parameters": [
          {
            "in": "body",
            "name": "profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDesignerProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Designer profile updated successfully"
          }
        }
      }
    },
    "/designs/show": {
      "get": {
        "summary": "Get all verified designs",
        "tags": ["Design"],
        "responses": {
          "200": {
            "description": "Designs retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Design"
              }
            }
          }
        }
      }
    },
    "/designs/designer/{designId}": {
      "get": {
        "summary": "Get designs by designer",
        "tags": ["Design"],
        "parameters": [
          {
            "in": "path",
            "name": "designId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Designs retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Design"
              }
            }
          }
        }
      }
    },
    "/product/create": {
      "post": {
        "summary": "Create a new product",
        "tags": ["Product"],
        "parameters": [
          {
            "in": "body",
            "name": "product",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewProduct"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Product created successfully",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      }
    },
    "/product/read/{id}": {
      "get": {
        "summary": "Get product details",
        "tags": ["Product"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details retrieved successfully",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      }
    },
    "/finalproduct/create-final-products": {
      "post": {
        "summary": "Create final products",
        "tags": ["Final Product"],
        "parameters": [
          {
            "in": "body",
            "name": "finalProduct",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewFinalProduct"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Final product created successfully",
            "schema": {
              "$ref": "#/definitions/FinalProduct"
            }
          }
        }
      }
    },
    "/finalproduct/products": {
      "get": {
        "summary": "Get all final products",
        "tags": ["Final Product"],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "type": "integer",
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "category",
            "type": "string",
            "description": "Filter by category"
          }
        ],
        "responses": {
          "200": {
            "description": "Final products retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinalProduct"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "NewUser": {
      "type": "object",
      "required": ["username", "email"],
      "properties": {
        "username": {
          "type": "string",
          "example": "johndoe"
        },
        "email": {
          "type": "string",
          "format": "email",
          "example": "john@example.com"
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9f"
        },
        "username": {
          "type": "string",
          "example": "johndoe"
        },
        "email": {
          "type": "string",
          "example": "john@example.com"
        },
        "isDesigner": {
          "type": "boolean",
          "example": false
        }
      }
    },
    "LoginCredentials": {
      "type": "object",
      "required": ["email", "password"],
      "properties": {
        "email": {
          "type": "string",
          "format": "email",
          "example": "john@example.com"
        },
        "password": {
          "type": "string",
          "example": "password123"
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        },
        "user": {
          "$ref": "#/definitions/UserResponse"
        }
      }
    },
    "UpdateProfile": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9f"
        },
        "name": {
          "type": "string",
          "example": "John Doe"
        },
        "phone": {
          "type": "string",
          "example": "+1234567890"
        },
        "description": {
          "type": "string",
          "example": "I'm a passionate designer..."
        }
      }
    },
    "AddToCart": {
      "type": "object",
      "required": ["userId", "productId", "quantity"],
      "properties": {
        "userId": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9f"
        },
        "productId": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9g"
        },
        "quantity": {
          "type": "integer",
          "minimum": 1,
          "example": 2
        }
      }
    },
    "CartItem": {
      "type": "object",
      "properties": {
        "product": {
          "type": "object",
          "properties": {
            "productId": {
              "type": "string",
              "example": "5f8d0f5b9d3e2a1b3c5d7e9g"
            },
            "name": {
              "type": "string",
              "example": "Artistic T-Shirt"
            },
            "price": {
              "type": "number",
              "example": 29.99
            },
            "imageUrl": {
              "type": "string",
              "example": "https://example.com/tshirt.jpg"
            }
          }
        },
        "quantity": {
          "type": "integer",
          "example": 2
        }
      }
    },
    "DesignerRequest": {
      "type": "object",
      "required": ["userId", "fullname", "artistName"],
      "properties": {
        "userId": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9f"
        },
        "fullname": {
          "type": "string",
          "example": "John Doe"
        },
        "artistName": {
          "type": "string",
          "example": "JD Designs"
        },
        "description": {
          "type": "string",
          "example": "I specialize in minimalist designs..."
        },
        "portfolioLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": ["https://portfolio.com/johndoe"]
        }
      }
    },
    "DesignerPublicProfile": {
      "type": "object",
      "properties": {
        "artistName": {
          "type": "string",
          "example": "JD Designs"
        },
        "description": {
          "type": "string",
          "example": "Minimalist design specialist"
        },
        "profileImage": {
          "type": "string",
          "example": "https://example.com/jd_profile.jpg"
        },
        "designs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Design"
          }
        }
      }
    },
    "UpdateDesignerProfile": {
      "type": "object",
      "properties": {
        "designerId": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9h"
        },
        "description": {
          "type": "string",
          "example": "Updated designer bio..."
        },
        "socialMedia": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "https://twitter.com/jddesigns",
            "https://instagram.com/jddesigns"
          ]
        },
        "portfolioLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "https://behance.net/jddesigns",
            "https://dribbble.com/jddesigns"
          ]
        }
      }
    },
    "Design": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9i"
        },
        "title": {
          "type": "string",
          "example": "Abstract Minimalism"
        },
        "description": {
          "type": "string",
          "example": "A minimalist design with abstract shapes"
        },
        "designerId": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9h"
        },
        "imageUrl": {
          "type": "string",
          "example": "https://example.com/abstract_minimalism.jpg"
        },
        "isVerified": {
          "type": "boolean",
          "example": true
        }
      }
    },
    "NewProduct": {
      "type": "object",
      "required": ["name", "category", "basePrice"],
      "properties": {
        "name": {
          "type": "string",
          "example": "Classic T-Shirt"
        },
        "category": {
          "type": "string",
          "enum": ["shirt", "Tshirt", "hoodie", "Cup"],
          "example": "Tshirt"
        },
        "basePrice": {
          "type": "number",
          "example": 19.99
        },
        "colors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": ["white", "black", "red"]
        },
        "sizes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": ["XS", "S", "M", "L", "XL", "XXL"]
          },
          "example": ["S", "M", "L", "XL"]
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9j"
        },
        "name": {
          "type": "string",
          "example": "Classic T-Shirt"
        },
        "category": {
          "type": "string",
          "example": "Tshirt"
        },
        "basePrice": {
          "type": "number",
          "example": 19.99
        },
        "colors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": ["white", "black", "red"]
        },
        "sizes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": ["S", "M", "L", "XL"]
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "https://example.com/tshirt_front.jpg",
            "https://example.com/tshirt_back.jpg"
          ]
        }
      }
    },
    "NewFinalProduct": {
      "type": "object",
      "required": ["productId", "designApplications"],
      "properties": {
        "productId": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9j"
        },
        "designApplications": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "designImageUrl": {
                "type": "string",
                "example": "https://example.com/abstract_minimalism.jpg"
              },
              "position": {
                "type": "string",
                "enum": ["front", "back"],
                "example": "front"
              }
            }
          }
        }
      }
    },
    "FinalProduct": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "5f8d0f5b9d3e2a1b3c5d7e9k"
        },
        "baseProductName": {
          "type": "string",
          "example": "Classic T-Shirt"
        },
        "price": {
          "type": "number",
          "example": 29.99
        },
        "category": {
          "type": "string",
          "example": "Tshirt"
        },
        "color": {
          "type": "string",
          "example": "white"
        },
        "mainImageUrl": {
          "type": "string",
          "example": "https://example.com/final_tshirt_front.jpg"
        },
        "designs": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "designName": {
                "type": "string",
                "example": "Abstract Minimalism"
              },
              "designerName": {
                "type": "string",
                "example": "JD Designs"
              },
              "position": {
                "type": "string",
                "example": "front"
              },
              "appliedImageUrl": {
                "type": "string",
                "example": "https://example.com/applied_design_front.jpg"
              }
            }
          }
        }
      }
    }
  }
}
