{
  "swagger": "2.0",
  "info": {
    "version": "2.0.0",
    "title": "Eye-Eye-Tee API",
    "description": "API documentation for Eye-Eye-Tee, an ecommerce platform for designers",
    "contact": {
      "name": "API Support",
      "email": "support@eye-eye-tee.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "api.eye-eye-tee.com",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication endpoints"
    },
    {
      "name": "Users",
      "description": "User management endpoints"
    },
    {
      "name": "Designers",
      "description": "Designer-related endpoints"
    },
    {
      "name": "Products",
      "description": "Product management endpoints"
    },
    {
      "name": "Designs",
      "description": "Design management endpoints"
    },
    {
      "name": "Final Products",
      "description": "Endpoints for managing final products (designs applied to products)"
    },
    {
      "name": "Cart",
      "description": "Shopping cart management endpoints"
    }
  ],
  "paths": {
    "/auth/google": {
      "get": {
        "summary": "Initiate Google OAuth",
        "tags": ["Authentication"],
        "responses": {
          "302": {
            "description": "Redirect to Google login"
          }
        }
      }
    },
    "/auth/google/callback": {
      "get": {
        "summary": "Google OAuth callback",
        "tags": ["Authentication"],
        "responses": {
          "302": {
            "description": "Redirect after successful authentication"
          }
        }
      }
    },
    "/user/create": {
      "post": {
        "summary": "Create a new user",
        "tags": ["Users"],
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "schema": {
              "$ref": "#/definitions/NewUser"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "User created successfully"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "summary": "User login",
        "tags": ["Authentication"],
        "parameters": [
          {
            "in": "body",
            "name": "credentials",
            "schema": {
              "$ref": "#/definitions/LoginCredentials"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login successful",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/user/profile": {
      "post": {
        "summary": "Update user profile",
        "tags": ["Users"],
        "parameters": [
          {
            "in": "body",
            "name": "profile",
            "schema": {
              "$ref": "#/definitions/UpdateProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile updated successfully"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/designer/request": {
      "post": {
        "summary": "Request to become a designer",
        "tags": ["Designers"],
        "parameters": [
          {
            "in": "body",
            "name": "designerRequest",
            "schema": {
              "$ref": "#/definitions/DesignerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request submitted successfully"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/designer/viewProfile/{designerId}": {
      "get": {
        "summary": "View designer's public profile",
        "tags": ["Designers"],
        "parameters": [
          {
            "in": "path",
            "name": "designerId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Designer profile retrieved successfully",
            "schema": {
              "$ref": "#/definitions/DesignerPublicProfile"
            }
          },
          "404": {
            "description": "Designer not found"
          }
        }
      }
    },
    "/product/create": {
      "post": {
        "summary": "Create a new product",
        "tags": ["Products"],
        "parameters": [
          {
            "in": "body",
            "name": "product",
            "schema": {
              "$ref": "#/definitions/NewProduct"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Product created successfully"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/product/read/{id}": {
      "get": {
        "summary": "Get product details",
        "tags": ["Products"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details retrieved successfully",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/designs/show": {
      "get": {
        "summary": "Get all verified designs",
        "tags": ["Designs"],
        "responses": {
          "200": {
            "description": "Designs retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Design"
              }
            }
          }
        }
      }
    },
    "/finalproduct/create-final-products": {
      "post": {
        "summary": "Create final products",
        "tags": ["Final Products"],
        "parameters": [
          {
            "in": "body",
            "name": "finalProduct",
            "schema": {
              "$ref": "#/definitions/NewFinalProduct"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Final product created successfully"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/finalproduct/products": {
      "get": {
        "summary": "Get all final products",
        "tags": ["Final Products"],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "type": "integer",
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "category",
            "type": "string",
            "description": "Filter by category"
          }
        ],
        "responses": {
          "200": {
            "description": "Final products retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinalProduct"
              }
            }
          }
        }
      }
    },
    "/user/addToCart": {
      "post": {
        "summary": "Add item to cart",
        "tags": ["Cart"],
        "parameters": [
          {
            "in": "body",
            "name": "cartItem",
            "schema": {
              "$ref": "#/definitions/AddToCart"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item added to cart successfully"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/user/getCart/{userId}": {
      "get": {
        "summary": "Get user's cart",
        "tags": ["Cart"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Cart retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CartItem"
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "definitions": {
    "NewUser": {
      "type": "object",
      "required": ["username", "email"],
      "properties": {
        "username": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "format": "email"
        }
      }
    },
    "LoginCredentials": {
      "type": "object",
      "required": ["email", "password"],
      "properties": {
        "email": {
          "type": "string",
          "format": "email"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "user": {
          "$ref": "#/definitions/User"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "format": "email"
        },
        "isDesigner": {
          "type": "boolean"
        }
      }
    },
    "UpdateProfile": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "DesignerRequest": {
      "type": "object",
      "required": ["userId", "fullname", "artistName"],
      "properties": {
        "userId": {
          "type": "string"
        },
        "fullname": {
          "type": "string"
        },
        "artistName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "portfolioLinks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DesignerPublicProfile": {
      "type": "object",
      "properties": {
        "artistName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "profileImage": {
          "type": "string"
        },
        "designs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Design"
          }
        }
      }
    },
    "NewProduct": {
      "type": "object",
      "required": ["name", "category", "basePrice"],
      "properties": {
        "name": {
          "type": "string"
        },
        "category": {
          "type": "string",
          "enum": ["shirt", "Tshirt", "hoodie", "Cup"]
        },
        "basePrice": {
          "type": "number"
        },
        "colors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sizes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": ["XS", "S", "M", "L", "XL", "XXL"]
          }
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "basePrice": {
          "type": "number"
        },
        "colors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sizes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Design": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "designerId": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "isVerified": {
          "type": "boolean"
        }
      }
    },
    "NewFinalProduct": {
      "type": "object",
      "required": ["productId", "designApplications"],
      "properties": {
        "productId": {
          "type": "string"
        },
        "designApplications": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "designImageUrl": {
                "type": "string"
              },
              "position": {
                "type": "string",
                "enum": ["front", "back"]
              }
            }
          }
        }
      }
    },
    "FinalProduct": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "baseProductName": {
          "type": "string"
        },
        "price": {
          "type": "number"
        },
        "category": {
          "type": "string"
        },
        "color": {
          "type": "string"
        },
        "mainImageUrl": {
          "type": "string"
        },
        "designs": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "designName": {
                "type": "string"
              },
              "designerName": {
                "type": "string"
              },
              "position": {
                "type": "string",
                "enum": ["front", "back"]
              },
              "appliedImageUrl": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "AddToCart": {
      "type": "object",
      "required": ["userId", "productId", "quantity"],
      "properties": {
        "userId": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "minimum": 1
        }
      }
    },
    "CartItem": {
      "type": "object",
      "properties": {
        "product": {
          "type": "object",
          "properties": {
            "productId": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "price": {
              "type": "number"
            },
            "imageUrl": {
              "type": "string"
            }
          }
        },
        "quantity": {
          "type": "integer"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Eye-Eye-Tee API Documentation",
    "url": "https://docs.eye-eye-tee.com"
  },
  "x-logo": {
    "url": "https://eye-eye-tee.com/logo.png",
    "backgroundColor": "#FFFFFF",
    "altText": "Eye-Eye-Tee Logo"
  }
}
